{% extends 'base.html' %}
{% block head%}
<style>
    .about-section {
  padding: 50px;
  text-align: center;
}
</style>
{% endblock %}

{% block body %}
<div class="about-section">
  <h1>-Project Mission-</h1>
  <p>To enable researchers, students and other individuals pick unique words automatically.</p>
  <h1>About</h1>
   <p>Retrieving information manually is a tiresome task that is best left to a machine to do.This API helps you
       make sense out of your text data by giving you the most relevant words in the tetx
   </p>
</div>

{% endblock %}