{% extends 'base.html' %}
{% block head%}
<style>
    .about-section {
  padding: 50px;
  text-align: center;
}
</style>
{% endblock %}

{% block body %}
<div class="about-section">
  <h1>-Project Mission-</h1>
  <p>To enable researchers, students and other individuals pick unique words automatically.</p>
  <h1>About</h1>
   <p>After searching through the internet to look for a software that can help me extract unique words from my final year project write up,
       I couldn't get a reasonable solution and that inspired me to come up with this website
   </p>
</div>

{% endblock %}